<div class="example">
  <h3>Introduction to ExpressJs </h3>
  <p>
    Express is a routing and middleware web framework of nodeJS that has minimal functionality of its own: An Express application is essentially a series of middleware function calls.
  </p>
  <p>
   Lets see an example to use express in node application .<br><br>
   <img src="../../assets/images/nodejs/expressintro.png" alt="express example">
  </p>
  <p>
    To use express in our node app all we need to do is run following command .<br><br>
    <mat-card>
    Use the npm init command to create a package.json file for your application.<br>
    <span class="points">npm init</span><br>
     </mat-card>
    <mat-card>
    install Express in your project directory and save it in the dependencies list. For example:<br>
    <span class="points">npm install express --save</span><br>
    </mat-card>
    <mat-card>
    To install Express temporarily and not add it to the dependencies list in package.json <br>
    <span class="points">npm install express --no-save</span><br>
    </mat-card>
  </p>
  <p>
    Note  : By default with version npm 5.0+ npm install adds the module to the dependencies list in the package.json file; with earlier versions of npm, you must specify the --save option explicitly. Then, afterwards, running npm install in the app directory will automatically install modules in the dependencies list.

  </p>
  <p>
    Now at this point we have set our express app . We will see its routing and middleware functionality in our next expressJs tutorial.<br><br>
    Cheers !!!!!!!!!
  </p>  
</div>
