
  <!-- <a routerLink='/nodeJs/introduction-to-nodeJs' routerLinkActive="active">1. Introduction to nodeJs.</a>
  <a class="spacing" routerLink='/nodeJs/setting-up-nodejs-environment' routerLinkActive="active">2. Setting up nodejs environment.</a>
  <a class="spacing"routerLink='/nodeJs/running-our-first-nodeJs-example' routerLinkActive="active">3. Running our first nodeJs example</a>
  <a class="spacing"routerLink='/nodeJs/callbacks-in-nodejs' routerLinkActive="active">4. Callbacks in nodejs</a>
  <a class="spacing"routerLink='/nodeJs/async-parallel-series-waterfall' routerLinkActive="active">5. Async parallel,series,waterfall</a>
</p> -->

<!-- Nodejs articals -->
<mat-card>
<mat-list >
  <mat-list-item>
    <a routerLink='/nodeJs/introduction-to-nodeJs' routerLinkActive="active">1. Introduction to nodeJs.</a>
  </mat-list-item>
  <mat-list-item>
    <a  routerLink='/nodeJs/setting-up-nodejs-environment' routerLinkActive="active">2. Setting up nodejs environment.</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink='/nodeJs/running-our-first-nodeJs-example' routerLinkActive="active">3. Running our first nodeJs example.</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink='/nodeJs/callbacks-in-nodejs' routerLinkActive="active">4. Callbacks in nodejs.</a>
  </mat-list-item>
   <mat-list-item>
    <a routerLink='/nodeJs/async-parallel-series-waterfall' routerLinkActive="active">5. Async parallel,series,waterfall.</a>
  </mat-list-item>  
</mat-list>
</mat-card>