<div class="example">
<p>
  Setting up nodeJs environment is pretty easy.<br><br>
  1. Go to nodejs official page <a href="https://nodejs.org/en/download/current/" target="_blank">https://nodejs.org/en/download/current/</a> and download node current version.<br><br>
  2. Double click and install downloaded file.<br><br>
  3. Once installed successfully go to command line and issue <span class="points">npm -v </span> and you should see installed version .
</p>
<p>
         That's it,we have set up node in our system.We will see first nodeJs example in next tutorial.<br><br>
</p>

<h3>Code editors</h3>
<p>
  Following freely available editors can be used for javascript coding.<br><br>
  1.Notepad++ <br><br>
  2.Visual Studio Code.<br><br>
  3.Atom<br><br>

  Above are the freely available editors.
</p>
<mat-card>
    <a routerLink='/nodeJs/introduction-to-nodeJs' class="previous">Previous</a>
    <a routerLink='/nodeJs/running-our-first-nodeJs-example' class="next">Next</a>
</mat-card>
</div>