<div class="example">
  <h2>Introduction</h2>
  <p>Node.js is an open-source server side runtime environment built on Chrome's V8 JavaScript engine. 
  It provides an event driven, non-blocking (asynchronous) I/O and cross-platform runtime environment 
  for building highly scalable server-side applications using JavaScript.<br><br>
  Node.js was written and introduced by Ryan Dahl in 2009. Visit <a href="https://github.com/nodejs/node" target="_blank">Wikipedia</a> to know the history of Node.js.<br><br>
  Node.js official web site: <a href="https://nodejs.org" target="_blank">https://nodejs.org</a><br><br>
  Node.js on github: <a href="https://github.com/nodejs/node" target="_blank">https://github.com/nodejs/node</a><br><br>
  Node.js community conference <a href=" http://nodeconf.com" target="_blank"> http://nodeconf.com</a><br><br>
 </p>

  <h2>Features</h2>
  <p>
    <span class="points">I/O is Asynchronous and Event Driven : </span> All APIs of Node.js library are asynchronous i.e. non-blocking. 
    So a Node.js based server never waits for an API to return data. The server moves to the next API after calling it.
    and a notification mechanism of Events present in  Node.js helps the server to get a response from the previous API call.<br><br>
    <span class="points">Very fast : </span>Node.js is built on Google Chrome's V8 JavaScript Engine, so its library is very fast in code execution.<br><br>
    <span class="points">Single threaded : </span>Node.js follows a single threaded model with event looping.<br><br>
    <span class="points">Highly Scalable : </span> Node.js is highly scalable because event looping mechanism helps the server to respond in a non-blocking way.<br><br>
    <span class="points">No buffering : </span> Node.js cuts down the overall processing time while uploading audio and video files. 
    Node.js applications never buffer any data. These applications simply output the data in chunks.<br><br>
    <span class="points">Open source : </span> Node.js has an open source community which has produced many excellent modules to add additional capabilities to Node.js applications.<br><br>
    <span class="points">License : </span> Node.js is released under the MIT license.<br><br>
  </p>
   <mat-card>
     <mat-icon svgIcon="thumbs-up"><a routerLink='' class="previous">Previous</a></mat-icon>
    
    <a routerLink='/nodeJs/setting-up-nodejs-environment' class="next">Next</a>
   </mat-card>
</div>

