
  <mat-toolbar>ConfusedTechMinds
    <span class="spacer"></span>
      <a routerLink='/nodeJs' routerLinkActive="active">NodeJs</a><br/>
      <a routerLink='/expressJs' routerLinkActive="active">ExpressJs</a><br/>
      <a routerLink='/javascript' routerLinkActive="active">Javascript</a><br/>
      <a routerLink='/angularJs' routerLinkActive="active">AngularJs</a><br/>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!--Scroll to top-->
  <button [ngClass]="{'show-scroll': navIsFixed}" (click)="scrollToTop()" class="scroll-to-top">
      <mat-icon>arrow_upward</mat-icon>
  </button>
    <mat-card class="footer">Developed and maintained by @ConfusedTechMinds</mat-card>

