<mat-card>
<marquee scrolldelay="20" style="color: brown;">Please follow confusedTechMinds.com for best tech articles !!!!</marquee>
</mat-card>
    
<!-- Nodejs articals -->
<mat-card>
    NodeJS
<mat-list >
  <mat-list-item>
    <a routerLink='/nodeJs/introduction-to-nodeJs' routerLinkActive="active">1. Introduction to nodeJs.</a>
  </mat-list-item>
  <mat-list-item>
    <a  routerLink='/nodeJs/setting-up-nodejs-environment' routerLinkActive="active">2. Setting up nodejs environment.</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink='/nodeJs/running-our-first-nodeJs-example' routerLinkActive="active">3. Running our first nodeJs example.</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink='/nodeJs/callbacks-in-nodejs' routerLinkActive="active">4. Callbacks in nodejs.</a>
  </mat-list-item>
   <mat-list-item>
    <a routerLink='/nodeJs/async-parallel-series-waterfall' routerLinkActive="active">5. Async parallel,series,waterfall.</a>
  </mat-list-item>  
</mat-list>
</mat-card>

<!-- ExpressJs tutorials -->
<mat-card>
    ExpressJS
<mat-list >
  <mat-list-item>
    <a routerLink='' routerLinkActive="active">1. Introduction to ExpressJs.</a>
  </mat-list-item>
  <mat-list-item>
    <a  routerLink='' routerLinkActive="active">2. Routing using ExpressJs.</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink='' routerLinkActive="active">3. Express as MiddleWare.</a>
  </mat-list-item>
</mat-list>
</mat-card>
<!-- <router-outlet class="example"></router-outlet> -->